.about {
  background-color: $second-back-color;
  padding: 46px 15px 46px 15px;
}

.article {
  &__title {
    margin: 0;
    line-height: 32px;
    font-size: 22px;
  }

  &__text {
    line-height: 32px;
    font-size: 22px;
  }
}

@include for-large-up {
  .about {
    display: flex;
    padding: 77px 131px 76px 130px;
  }

  .article {
    width: 555px;

    &:first-child {
      margin-right: 29px;
    }

    &__text {
      margin: 0;
      margin-top: 6px;
    }
  }
}