.get-started-button {
  width: 290px;
  height: 48px;
  background-color: $blue-color;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.learn-more-button {
  width: 290px;
  height: 48px;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  color: $blue-color;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.figure {
  margin: 0;
}

.line {
  border-bottom: 1px solid #e3e3e3;
}