footer {
  padding-top: 40px;

  &__line {
    margin-top: 40px;
    border-top: 1px solid #e3e3e3;
  }
}

.footer-logo {
  &__name {
    font-weight: 700;
  }

  &__image {
    display: block;
    margin: auto;
  }

  &__text {
    text-align: center;
    line-height: 25px;
    font-size: 18px;
  }

  &__desсription {
    color: $second-font-color;
  }
}

.downloads {
  margin-top: 31px;
  display: flex;
  justify-content: center;

  &__item {
    margin-right: 10px;
  }
}

.product-nav,
.company-nav {
  &__title {
    margin: 0;
    margin: 30px 0 18px 15px;
    line-height: 28px;
    font-size: 22px;
  }

  &__list {
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    color: $second-font-color;
    line-height: 30px;
  }
}

.terms-nav {
  margin-top: 30px;
  display: flex;

  &__item {
    font-size: 14px;
    text-decoration: none;
    line-height: 22px;
    color: $second-font-color;
    margin-left: 15px;
  }
}

.social-links {
  display: flex;
  margin: 31px 0 23px 15px;

  &__item {
    margin-right: 20px;
    display: block;
  }
}

@include for-large-up {
  .footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 389px;

    &__line {
      display: none;
    }

    &__desktop-line {
      border-bottom: 1px solid #e3e3e3;
      margin-top: 59px;
    }

    &__navigation {
      display: flex;
    }

    &__links {
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: space-between;
      padding: 0 132px 0 130px;
    }
  }

  .footer-logo {
    display: flex;
    align-items: center;

    &__image {
      margin: 0;
    }

    &__name {
      text-align: left;
    }

    &__text {
      margin-left: 9px;
    }

    &__name {
      font-size: 20px;
      line-height: 25px;
    }

    &__desсription {
      font-size: 18px;
      line-height: 25px;
    }
  }

  .about-company {
    width: 615px;
    padding-left: 130px;
    margin-top: 44px;

    &__description {
      width: 360px;
      height: 85px;
      display: inline-block;
      color: $second-font-color;
      font-size: 18px;
      line-height: 26px;
      margin-top: 26px;
    }
  }

  .downloads {
    margin: 0;
    justify-content: left;
    margin-top: 25px;

    &__item {
      margin: 0;

      &:last-of-type {
        margin-left: 10px;
      }
    }
  }

  .additional-navigation {
    display: flex;
    margin-top: 60px;
  }

  .product-nav,
  .company-nav {
    &__title {
      margin: 0;
      font-size: 22px;
    }

    &__list {
      margin: 0;
      font-size: 18px;
      line-height: 30px;
      margin-top: 18px;
    }
  }

  .company-nav {
    margin-left: 90px;
  }

  .terms-nav {
    margin: 0;
    width: 180px;
    display: flex;
    justify-content: space-between;

    &__item {
      margin: 0;
    }
  }

  .social-links {
    margin: 0;
  }
}

@include for-small {
  .about-company {
    &__description {
      display: none;
    }
  }
}