.order {
  background-color: $second-back-color;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 200px;
    height: 220px;
  }

  &__title {
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.25px;
    margin-top: 40px;
  }

  &__description {
    margin: 0;
    font-size: 22px;
    line-height: 32px;
    margin-top: 16px;
  }
}

.email-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  &__input {
    width: 290px;
    height: 48px;
    border-radius: 2px;
    border: #2b292d33 1px solid;
    text-align: center;

    &::placeholder {
      color: $font-color;
      font-size: 18px;
      line-height: 13px;
      height: 30px;
    }
  }

  &__button {
    margin-top: 12px;
  }
}

.trial {
  font-size: 14px;
  line-height: 22px;
  color: $second-font-color;
  margin-top: 10px;

  &__link {
    color: #3142c6;
  }
}

@include for-large-up {
  .order {
    flex-direction: row;
    height: 441px;
    padding: 73px 228px 72px 224px;

    &__image {
      width: 100%;
      height: 100%;
    }

    &__container {
      margin-left: 121px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      text-align: left;
      margin: 0;
    }

    &__description {
      width: 555px;
      margin: 0;
      margin-top: 12px;
    }
  }

  .email-form {
    flex-direction: row;
    margin-top: 26px;

    &__input {
      margin: 0;
      width: 385px;
      text-align: left;
      padding-left: 15px;
      &::placeholder {
        height: 30px;
      }
    }

    &__button {
      margin: 0;
      width: 160px;
      height: 48px;
      margin-left: 10px;
    }
  }
}